<div class="row">
	<div class="col s12 l8 offset-l2">
		<label for="username" class="teal-text text-darken-3">Username</label>
		<input #username placeholder="Username" id="username" type="text"
     (input)="filterUsers(username.value)"/>

		<mz-collection *ngIf="filteredUsers.length">
			<mz-collection-item *ngFor="let user of filteredUsers" [avatar]="true"
       (click)="expandUserInfo($event, user)">
				<!-- Info -->
				<i mz-avatar class="custom-avatar">{{user.username.charAt(0) | uppercase}}</i>
				<div class="title teal-text text-darken-3">{{user.username}}</div>
				<div class="teal-text text-darken-4">{{user.description}}, {{user.comment}}</div>

				<!-- Hidden info -->
				<div *ngIf="expandedUser && user.username === expandedUser.username">
					<password-field [password]="user.password"></password-field>
					<div class="teal-text text-darken-4">Создан: {{user.createdAt}}</div>
					<div class="teal-text text-darken-4">Обновлен: {{user.updatedAt}}</div>
				</div>

				<!-- Actions -->
				<div mz-secondary-content class="actions" (click)="stopPropagation($event)">
					<button class="btn-flat" style="padding: 0 0.5rem" (click)="showModal(user)" title="Удалить">
            <i class="material-icons grey-text text-lighten-1 action-icon delete">delete</i>
          </button>
					<a class="btn-flat" style="padding: 0 0.5rem" (click)="editUser(user)" title="Редактировать">
            <i class="material-icons grey-text text-lighten-1 action-icon edit">mode_edit</i>
          </a>
					<mz-switch-container (change)="lockUser($event, user)" title="{{user.isActive ? 'Блокировать' : 'Активировать'}}">
						<input [checked]="user.isActive" mz-switch type="checkbox">
          </mz-switch-container>
				</div>
			</mz-collection-item>
		</mz-collection>

		<mz-modal #modal>
			<mz-modal-header>
				<h4>Удалить аккаунт?</h4>
			</mz-modal-header>
			<mz-modal-content>
				Вы уверенны что хотите удалить учётную запись пользователя
				<b>{{userToDelete ? userToDelete.username : ''}}</b>?
			</mz-modal-content>
			<mz-modal-footer>
				<button class="btn-flat red-text" style="padding: 0;" mz-modal-close (click)="deleteUser()">УДАЛИТЬ</button>
				<button class="btn-flat teal-text" mz-modal-close>ОТМЕНА</button>
			</mz-modal-footer>
		</mz-modal>
	</div>
</div>